:root {
    --primary: #192025;
    --secondary: #040D12;
    --green: #4EB674;
    --orange: #D97D12;
    --linearClassic: linear-gradient(90deg, rgba(0, 151, 178, 1) 0%, rgba(32, 164, 153, 1) 27%, rgba(78, 182, 116, 1) 100%);
    --linearAdmin: linear-gradient(90deg, rgba(217, 125, 18, 1) 0%, rgba(233, 83, 19, 1) 27%, rgba(237, 40, 217, 1) 100%);
    --white: #faf0e6;
    --red: #E95313;
}
html, body{
    padding: 0;
    margin: 0;
    background-color: var(--secondary);
}
h1, h2, h3, p, a, li{
    margin: 0;
    font-family: Josefin Sans;
}
input{
    cursor: pointer;
}
.error-message{
    color: var(--red);
}
/* nav */
nav{
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0; 
    width: 190px;
    height: 100%; 
    padding: 15px;
    gap: 20px;
}
nav ul{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}
nav li{
    padding: 15px 0;
    background: transparent;
    border-top: 3px solid transparent; /* Transparent pour laisser place au dégradé */
    border-image: var(--linearClassic) 1;
}
a{
    text-decoration: none;
    background: var(--linearClassic);
    background-clip: text;
    color: transparent;
}
.red{
    color: red;
}

main{
    margin-left: 220px;
    padding: 20px 50px;
}