:root {
    --primary: #192025;
    --secondary: #040D12;
    --green: #4EB674;
    --orange: #D97D12;
    --linearClassic: linear-gradient(90deg, rgba(0, 151, 178, 1) 0%, rgba(32, 164, 153, 1) 27%, rgba(78, 182, 116, 1) 100%);
    --linearAdmin: linear-gradient(90deg, rgba(217, 125, 18, 1) 0%, rgba(233, 83, 19, 1) 27%, rgba(237, 40, 217, 1) 100%);
    --white: #faf0e6;
}
html, body{
    padding: 0;
    margin: 0;
    background-color: var(--secondary);
}
h1, h2, h3, p, a, li{
    margin: 0;
    font-family: Josefin Sans;
}
input{
    cursor: pointer;
}