:root {
    --primary: #192025;
    --secondary: #040D12;
    --green: #4EB674;
    --orange: #D97D12;
    --linearClassic: linear-gradient(90deg, rgba(0, 151, 178, 1) 0%, rgba(32, 164, 153, 1) 27%, rgba(78, 182, 116, 1) 100%);
    --linearAdmin: linear-gradient(90deg, rgba(217, 125, 18, 1) 0%, rgba(233, 83, 19, 1) 27%, rgba(237, 40, 217, 1) 100%);
    --white: #faf0e6;
    --red: #E95313;
}
html, body{
    padding: 0;
    margin: 0;
    background-color: var(--secondary);
}
h1, h2, h3, p, a, li{
    margin: 0;
    font-family: Josefin Sans;
}
input{
    cursor: pointer;
}

/* nav */
nav{
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0; 
    width: 190px;
    height: 100%; 
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
nav h2{
    color: var(--white);
    font-weight: 300;
}
nav ul{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}
nav li{
    padding: 15px 0;
    background: transparent;
    border-top: 3px solid transparent; /* Transparent pour laisser place au dégradé */
    border-image: var(--linearClassic) 1;
}
a{
    text-decoration: none;
    background: var(--linearClassic);
    background-clip: text;
    color: transparent;
}
.red{
    color: var(--red);
}
/* main */
main{
    margin-left: 220px;
    padding: 20px 50px;
}
main div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
main div div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main div h2{
    color: var(--white);
    font-weight: 500;
    font-size: 30px;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.row p{
    color: var(--white);
    font-size: larger;
}
.row h3{
    background: var(--linearClassic);
    background-clip: text;
    color: transparent;
    font-size: larger;
}
.icon{
    width: 30px;
    height: 30px;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: var(--linearClassic);
}
.icon img{
    width: 20px;
    height: auto;
}

main ul{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    margin-inline: 0;
    margin-block: 0;
    padding-inline: 0;
    padding: 5px;
}
main li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-top: 4px solid var(--primary);
    border-bottom: 4px solid var(--primary);
}
main form{
    padding: 0;
    font-size: 0;
}
main input[type=submit]{
    background: transparent;
    padding: 0;
    padding-inline: 0;
    padding-block: 0;
    color: var(--white);
    font-family: Josefin Sans;
    font-size: 22px;
    font-weight: lighter;
    text-transform: none;
    align-items: center;
    height: 50px;
    border: none;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: var(--primary);
    border-radius: 10px;
    padding: 10px 20px;
}
article input[type=submit]{
    background: var(--linearClassic);
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    color: var(--secondary);
    font-weight: bold;
    font-family: Anton;
    text-transform: uppercase;
}
article img{
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
}
article p {
    min-width: 500px;
    max-width: 500px;
    align-self: center;
    color: var(--white);
}