    
:root {
    --primary: #192025;
    --secondary: #040D12;
    --green: #4EB674;
    --orange: #D97D12;
    --linearClassic: linear-gradient(90deg, rgba(0, 151, 178, 1) 0%, rgba(32, 164, 153, 1) 27%, rgba(78, 182, 116, 1) 100%);
    --linearAdmin: linear-gradient(90deg, rgba(217, 125, 18, 1) 0%, rgba(233, 83, 19, 1) 27%, rgba(237, 40, 217, 1) 100%);
    --white: #faf0e6;
    --red: #E95313;
}
html, body{
    padding: 0;
    margin: 0;
    background-color: var(--secondary);
}
h1, h2, h3, p, a, li{
    margin: 0;
    font-family: Josefin Sans;
}

input{
    cursor: pointer;
}

.error-message{
    color: var(--red);
    background-color: #E9531333;
    padding: 10px;
    border-radius: 5px;
}

.validation-message{
    color: var(--green);
    background-color: #4EB67433;
    padding: 10px;
    border-radius: 5px;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--primary);
    border-radius: 2px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--linearClassic);
    border-radius: 2px;
  }


/* header large pc */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

header{
    z-index: 10;
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    position: sticky;
    top: 0;
    overflow: hidden;
    box-shadow: 0 0 30px 5px var(--secondary);;
}
header div{
    display: flex;
    align-items: center;
}
header h1{
    background: var(--linearClassic);
    background-clip: text;
    color: transparent;
    font-weight: 500;
    font-family: Anton;
    margin-right: 30px;
    
}
header a{
    text-decoration: none;
    color: white;
    
}
header a:hover{
    text-decoration: underline;
    color: white;
    
}
header img{
    width: 50px;
    height: auto;
    border-radius: 50px;
    margin-left: 30px;
}
header ul{
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 30px;
    margin: 0;
    padding: 0;
}
header .switch{
    margin-right: 30px;
}






/* Toggle button */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.switch {
	display: inline-block;
	position: relative;
	width: 85px;
	height: 40px;
	cursor: pointer;
	overflow: hidden;
}
.switch input {
	position: absolute;
	top: -30px;
	left: -30px;
	width: 0;
	height: 0;
}
.switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--secondary);
    border-radius: 10px;
}
.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 4px;
	width: 30px;
	height: 30px;
	background: var(--linearClassic);
	border-radius: 5px;
	transform: translateY(-50%);
	transition: all .2s;
}
.switch input:checked + span:before {
	left: 50px;
    background: var(--linearAdmin);
}
.switch-admin input:checked + span:before {
	background: var(--linearClassic);
}

.switch-text{
    width: 300px;
	height: 60px;
}
.switch-text input + span:before {
	width: 140px;
    height: 50px;
}
.switch-text input:checked + span:before {
	left: 155px;
}
/* Texte pour le bouton toggle */
.s-text {
    font-size: 35px;
    text-align: center;
    color: var(--secondary);
    font-weight: bold;
    font-family: Anton;
    text-transform: uppercase;
    pointer-events: none; /* Empêche les clics sur le texte */

}

.switch-text input + span.s-text::before {
    content: "Membres"; 
    position: absolute;
}

.switch-text input:checked + span.s-text::before {
    content: "Rôles"; 
}


/* textfield */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
input[type="text"],input[type="email"],input[type="password"] {
    width: 100%;               
    padding: 10px; 
    margin: 0;     
    font-size: 16px;           
    border-width: 2px;
    border-style: solid;
    border-image: var(--linearClassic) 1;
    background-color: var(--secondary);
    color: var(--primary);      
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    color: var(--green);
}
input[type="text"]:focus ,input[type="email"]:focus ,input[type="password"]:focus {
    border: 2px solid var(--white);
    outline: none;
    color: var(--white);

}

/* main */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

main{
    margin: 25px 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h2{
    font-family: Anton;
    color: var(--white);
    text-transform: uppercase;
}

/* special event bar */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

#annonce{
    background: var(--linearClassic);
    padding: 10px;
    border-radius: 10px;
    color: var(--secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#annonce h2{
    font-family: Anton;
    text-transform: uppercase;
    color: var(--secondary);
}
#annonce a{
    color: var(--secondary);
}
#annonce input[type=submit]{
    background: none;
    border: var(--secondary) 3.5px solid;
    border-radius: 5px;
    padding: 5px;
    color: var(--secondary);
    font-weight: bold;
    font-family: Anton;
    text-transform: uppercase;
    font-size: larger;
} 


.row{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

/* article */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: var(--primary);
    border-radius: 10px;
    padding: 10px 20px;
}
article img{
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
}
article h2{
    max-width: 500px;
    color: var(--white);
    font-family: Anton;
    text-transform: uppercase;
}
article h3{
    background: var(--linearClassic);
    background-clip: text;
    color: transparent;
    font-family: Anton;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 200;
}
article p{
    min-width: 200px;
    max-width: 500px;
    align-self: center;
    color: var(--white);
}
input[type=submit]{
    background: var(--linearClassic);
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    color: var(--secondary);
    font-weight: bold;
    font-family: Anton;
    text-transform: uppercase;
    font-size: larger;
}

/* classement */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.ranked {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--white);
    width: 100%;
}
.ranked div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
}
.ranked div div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    width: 100%;
}
.ranked img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.ranked progress{
    appearance: none;
    width: 100%;
    height: 10px;
    
}
.ranked progress::-webkit-progress-bar {
    background-color: var(--primary); /* background */
    border-radius: 10px;
}
.ranked progress::-webkit-progress-value {
    background: var(--linearClassic); /* color */
    border-radius: 10px;
}
.ranked h3{
    text-transform: uppercase;
    font-weight: lighter;

}
.ranked p{
    font-family: Anton;
    font-weight: bold;
    font-size: large;
    background: var(--linearClassic);
    background-clip: text;
    color: transparent;
}
#carousel{
    display: flex;
    align-items: center;
    height: 320px;
}
#carousel button{
    border: none;
    background-color: transparent;
    opacity: 70%;
    width: 300px;
    height: 220px;
    border-radius: 5px;
    display: none;
    order: 0;
    transition: transform 0.5s ease, background-color 0.9s ease, opacity 0.3s ease, width 0.9s ease, height 0.9s ease;
    position: relative;
    padding-block: 0;
    padding-inline: 0;
}
#carousel .pre{
    order: 1;
    display: block;
    transform: translateX(-100%);
}

#carousel .active{
    order: 2;
    z-index: 1;
    width: 370px;
    height: 300px;
    display: block;
    opacity: 100%;
    margin: 10px -350px ;
    box-shadow: 0 0 30px -5px var(--primary);
}
#carousel .next{
    order: 3;
    display: block;
    transform: translateX(100%);
}
#carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{
    background-color: var(--primary);
    color: var(--white);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    padding: 20px 40px;
}
footer h2{
    font-weight: 50;
}
footer div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
footer div div{
    gap: 0;
    align-items: start;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
#contact div{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
footer h3{
    background: var(--linearClassic);
    background-clip: text;
    color: transparent;
}
footer img{
    width: 20px;
    height: 20px;
}
.icon{
    width: 60px;
    height: 60px;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: var(--linearClassic);
}
.icon img{
    width: 35px;
    height: auto;
}

/*events*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

#event{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}
#eventList{
    font-size: 50px;
    overflow-y: scroll;
    height: 500px;
}
#event article{
    /*display: none;*/
}

#event article .row{
    margin-top: auto;
}

#eventList ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin-inline: 0;
    margin-block: 0;
    padding-inline: 0;
    padding: 5px;
}
#eventList button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-family: Anton;
    text-transform: uppercase;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background: var(--linearClassic);
}
#eventList li.active button{
    border-radius: 5px 5px 0 0;
}
#eventList button img{
    width: 25px;
    height: auto;
}
#eventList li.active button img{
    rotate: 180deg;
}
#eventList ul li ul{
    display: none;
}
#eventList ul li.active ul{
    display: flex;
    flex-direction: column;
}
#eventList ul li ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-top: 5px solid var(--primary);
    border-bottom: 5px solid var(--primary);
}
#eventList form{
    padding: 0;
    font-size: 0;
}
#eventList input[type=submit]{
    background: transparent;
    padding: 0;
    padding-inline: 0;
    padding-block: 0;
    color: var(--white);
    font-family: Josefin Sans;
    font-size: 22px;
    font-weight: lighter;
    text-transform: none;
    align-items: center;
    height: 50px;
}
#eventList p{
    color: var(--white);
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: lighter;
    text-transform: none;
}


.imgBackground{
    background: var(--linearClassic);
    border-radius: 8px;
    font-size: 0;
    padding: 3px;
}
.grades{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}
.grades article img{
    padding: 50px;
    width: 75px;
    height: 75px;
    object-fit: cover;
    background-color: var(--primary);
}
.grades article .row{
    margin-top: auto;
}

.produits{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    padding: 10px 0;
    overflow-x: auto;
}
.produits article img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-color: var(--primary);
}
.produits article .row{
    gap: 15px;
}

.letter{
    align-items: start;
    flex-direction: row;
    padding: 10px;
    height: 100%;
}

.letter div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    justify-content: space-between;
}
.letter div div{
    gap: 0px;
}
.letter h2{
    max-width: 100%;
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-inline: 0;
    margin-block-end: -10px;
}
.letter h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.letter p{
    max-width: 100%;
}
.letter img{
    min-width: 250px;
    max-width: 250px;
    max-height: 350px;
    object-fit: cover;
}

/*AGENDA*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

#agenda {
    background-color: var(--primary);
    padding: 20px;
    border-radius: 10px;
  }
  
  #agendaeventList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #agendaeventList li {
    padding: 10px;
    border-bottom: 1px solid var(--secondary);
  }
  
  #agendaeventList li:last-child {
    border-bottom: none;
  }
  
  #agendaeventList li button {
    background-color: var(--linearClassic);
    border: none;
    padding: 10px 20px;
    font-family: Anton;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
  }
  
  #agendaeventList li button:hover {
    background-color: var(--linearAdmin);
  }
  
  #agendaeventList li ul {
    display: none;
  }
  
  #agendaeventList li.active ul {
    display: block;
  }
  
  #agendaeventList li ul li {
    padding: 10px;
    border-bottom: 1px solid var(--secondary);
  }
  
  #agendaeventList li ul li:last-child {
    border-bottom: none;
  }

  /* Panier */
  /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
  #panier, #paiement{
    padding-left: 100px;
    padding-right: 100px;
  }
  #panier table{
    border-collapse: separate;
    border-spacing: 0 5px; 
    overflow: hidden;
    border-top: solid 2px #faf0e622;
    width: 100%;
    table-layout: fixed;
  }
  #panier th{
    height: 40px;
    color: var(--white);
    font-family: Josefin Sans;
    font-weight: 300;
    text-transform: uppercase;
  }
  #panier th:first-child{
    text-align: start;
  }
  #panier th:last-child{
    text-align: end;
  }
  #panier tr:not(:first-child){
    background: #faf0e622;
    color: var(--white);
    
  }
  #panier tr:not(:first-child) td{
    padding: 10px 0 10px 0;
    border: none;
    text-align: center;
    font-family: Josefin Sans;
    font-weight: 100;
    font-size: small;
  }
  #panier tr:not(:first-child) td:first-child  {
    padding-left: 20px;
    border-radius: 5px 0 0 5px;
    text-align: start;
  }
  #panier tr:not(:first-child) td:last-child  {
    padding-right: 20px;
    border-radius: 0 5px 5px 0;
    text-align: end;
  }

  #total{
    background-color: #faf0e622;
    display: flex;
    flex-direction: row;
    padding: 2px 15px;
    border-radius: 5px;
    align-self: end;
    gap: 10px;
  }
  #total p {
    width: 100%;
    min-width: 0;
    max-width: none;
    font-size: large;
    font-family: Anton;
  }
  #total h3{
    font-size: large;
  }

  #paiement table{
    border-collapse: separate;
    border-spacing: 60px 20px; 
    overflow: hidden;
    border-top: solid 2px #faf0e622;
    width: 100%;
    table-layout: fixed;
  }
  #paiement th{
    height: 40px;
    color: var(--white);
    font-family: Josefin Sans;
    font-weight: 300;
    text-transform: uppercase;
    text-align: start;
  }

  #paiement input[type="submit"]{
    width: 100%;
    margin: 0;
  }
    
/* Page de login - register */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.login-register{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login-register div{
    background-color: var(--primary);
    border-radius: 15px 0 0 15px;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-register div:last-child{
    background: var(--linearClassic);
    border-radius: 0 15px 15px 0;
}

.login-register form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-register form label{
    font-family: Josefin Sans;
    font-size: large;
    color: var(--white);
}
.login-register div:last-child h2{
    font-size: 4em;
    width: 300px;
    ali-self: center;
}

.form-other input[type=submit]{
    background: transparent;
    border: 3px solid transparent; /* Transparent pour laisser place au dégradé */
    border-image: var(--linearClassic) 1; 
    border-radius: 5px;
    padding: 5px 25px;
    background: var(--linearClassic);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: Anton;
    text-transform: uppercase;
    font-size: larger;
}

select {
    background-color: var(--secondary);
    color: var(--white);

    border: 3px solid transparent; /* Transparent pour laisser place au dégradé */
    border-image: var(--linearClassic) 1; 
    border-radius: 5px;
    padding: 5px 25px;
    outline: none; /* Supprime l'outline par défaut au focus */
  }


  option {
    padding: 10px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--secondary);
  }

/* membreBDE */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.membreBDE1{
    align-items: start;
    flex-direction: row;
    padding: 10px;
    height: 100%;
    width: 75%; /* Réduit la largeur de la div */ 
}

.membreBDE1 div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    justify-content: space-between;
}
.membreBDE1 div div{
    gap: 0px;
}
.membreBDE1 h2{
    max-width: 100%;
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-inline: 0;
    margin-block-end: -10px;
}
.membreBDE1 h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.membreBDE1 p{
    max-width: 100%;
}
.membreBDE1 img{
    min-width: 250px;
    max-width: 250px;
    max-height: 350px;
    object-fit: cover;
}
.membreBDE1 a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
.membreBDE1 a img {
    min-width: 25px;
    max-width: 25px;
    max-height: 35px;
}

/* deuxieme colone*/
.membreBDE2 {
    align-items: start;
    flex-direction: row;
    padding: 10px;
    height: 100%;
    width: 75%; /* Réduit la largeur de la div */
    margin-left: auto; /* Ajoute un espace pour pousser vers la droite */
}


.membreBDE2 div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    justify-content: space-between;
}
.membreBDE2 div div{
    gap: 0px;
}
.membreBDE2 h2{
    max-width: 100%;
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-inline: 0;
    margin-block-end: -10px;
}
.membreBDE2 h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.membreBDE2 p{
    max-width: 100%;
}
.membreBDE2 img{
    min-width: 250px;
    max-width: 250px;
    max-height: 350px;
    object-fit: cover;
}
.membreBDE2 a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
.membreBDE2 a img {
    min-width: 25px;
    max-width: 25px;
    max-height: 35px;
}

.objectif-section {
    background: linear-gradient(90deg, #34c5ab, #6fc17c); /* Dégradé de couleurs */
    border-radius: 15px; /* Coins arrondis */
    padding: 15px 20px; /* Espacement interne */
    margin: 20px auto; /* Espacement externe, centré horizontalement */
    width: 100%;
    text-align: start; /* Centrage du texte */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
}

.objectif-section h1 {
    margin-bottom: 10px; /* Espacement sous le titre */
}

.photo {
    padding: 0;
    height: 50%;
    width: 50%;
}
.photo img {
    min-width: 250px;
    max-width: 300px;
    max-height: 5400px;
}

.filefond {
    display: flex; /* Aligne les éléments enfants côte à côte */
    flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
    gap: 10px; /* Ajoute un espace entre les éléments */
    justify-content: flex-start; /* Aligne les éléments à gauche */
    background-color: #222;
    border-radius: 10px;
    padding: 10px 20px;
}

.file {
    display: flex; /* Active le mode flex pour organiser les enfants */
    flex-direction: column; /* Place les enfants en colonne */
    align-items: center; /* Centre horizontalement le contenu */
    margin-left: 10px;
}

.image-button img {
    width: 125px;
    height: 100px;
    border-radius: 10px;
}

.file span {
    margin-top: 10px;
    color: #FFF;
    font-size: 14px;
    text-align: center; /* Centre le texte sous l'image */
}

/* memberlist */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.panel{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
}
#settings, #list-management{
    min-width: 300px;
    align-items: start;
    gap: 30px;
}
#settings ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#settings li{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#research{
    width: 100%;
}
#research form{
    background: var(--linearClassic);
    display: flex;
    flex-direction: row;
    padding: 2px;
    border-radius: 5px;
    width: 100%;
}
#research input[type="text"]{
    border: none;
    border-radius: 3px;
    width: 100%;
}
#research button{
    border: none;
    background: transparent;
    width: 40px;
    height: 40px;
}
#list-result{
    width: 100%;
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profil-bar{
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}
.profil-bar div{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.profil-bar img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.profil-bar form{
    height: 100%;
}
.profil-bar button{
    background: var(--linearClassic);
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    height: 100%;
    color: var(--secondary);
    font-weight: bold;
    font-family: Anton;
    text-transform: uppercase;
    font-size: 20px;    
}