<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHP MVC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin Sans|Anton">
</head>
<body>
<header>
    <div><h1>ADIIL</h1>
        <ul>
            <li><a href="./index.html">accueil</a></li>
            <li><a href="./event.html">évènements</a></li>
            <li><a href="./shop.html">boutique</a></li>
            <li><a href="./agenda.html">agenda</a></li>
            <li><a href="./newsletter.html">newsletter</a></li>
            <li><a href="./checkout.html">panier</a></li>
        </ul>
    </div>
    <div>
        <!-- Hide if the user isn't connected with an admin account -->
        <label class="switch">
            <input type="checkbox"/>
            <span></span>
        </label>

        <a href="">Mon compte</a>
        <!-- Put user picture -->
        <img src="../Pictures/defaultProfilePicture.png" alt="">

    </div>
</header>
</body>
</html>